<div class="account-content">
    <a href="job-list.html" class="btn btn-primary apply-btn">Ener Gmao</a>
    <div class="container">
    
        <!-- Account Logo -->
        <div class="account-logo">
            <a href="index.html"><img src="assets/img/logo.png" alt="Ener Gmao"></a>
        </div>
        <!-- /Account Logo -->
        
        <div class="account-box">
            <div class="account-wrapper">
                <h3 class="account-title">Enregistrer</h3>
                <p class="account-subtitle">Acceder a la page d'accueil</p>
                
                <!-- Account Form -->
                <form action="index.html">
                    <div class="form-group">
                        <label>Nom</label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Mots de passe</label>
                        <input class="form-control" type="password">
                    </div>
                    <div class="form-group">
                        <label>Confirmer le mots de passe</label>
                        <input class="form-control" type="password">
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-primary account-btn" type="submit">Enregistrer</button>
                    </div>
                    <div class="account-footer">
                        <p>J'ai deja un  compte? <a [routerLink]="['/login']">Se connecter</a></p>
                    </div>
                </form>
                <!-- /Account Form -->
            </div>
        </div>
    </div>
</div>